body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

#app-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 40px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.app-card {
  width: 320px; /* 1980px / 4 app cards per row * 2/3 proportion of card to gap  */
  height: 180px; /* 1080px / 4 app cards per column * 2/3 proportion of card to gap  */
  background: linear-gradient(to top, black, #222);
  border-radius: 25px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transform-style: preserve-3d;
}

.app-card.focused {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}

.app-icon {
  max-width: 66%;
  max-height: 66%;
  object-fit: contain;
  pointer-events: none;
  transform: translateZ(50px);
}

#service-indicator {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
  transition: transform 0.5s ease;
  cursor: pointer;
  z-index: 9999;
}

#service-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  transition: background-color 0.5s ease;
  transform: translate(-50%, -50%);
}

#service-indicator.success::after {
  background-color: green;
}

#service-indicator.pending::after {
  background-color: yellow;
}

#service-indicator.failed::after {
  background-color: red;
}

#service-indicator:hover {
  transform: scale(2);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  transition: opacity 0.5s ease;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#overlay.logs {
  cursor: pointer;
}

#overlay .logs-textbox {
  max-width: 90vw;
  max-height: 90vh;
  padding: 25px;
  border-radius: 25px;
  background: #111;
  color: lightgrey;
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: default;
}

#overlay.logs .logs-textbox {
  opacity: 1;
}
